<div class="widgets">
    <div class="col-md-12" ba-panel
         ba-panel-title="Add Integrator Profile"
         ba-panel-class="with-scroll">
        <form ng-submit="vm.saveIntegratorProfile()" class="form-horizontal">
            <h3 class="with-line">General Information</h3>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="code" class="col-sm-2 control-label">
                        <span class="required">Integrator Code</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.integratorCode"
                               class="form-control" id="code"
                               placeholder="Integrator Code" required>
                        <small class="text-muted">Must be unique</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">
                        <span class="required">Integrator Name</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.name"
                               class="form-control" id="name"
                               placeholder="Integrator Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">
                        <span class="required">Password</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.password"
                               class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="validity" class="col-sm-2 control-label">
                        <span class="required">Token Validity</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="number" ng-model="vm.integratorProfile.tokenValidity"
                               class="form-control" id="validity" placeholder="Token Validity" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="integratorHost" class="col-sm-2 control-label">
                        <span class="required">Host</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.integratorNotification.host"
                               class="form-control" id="integratorHost" placeholder="Host" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="integratorPort" class="col-sm-2 control-label">
                        <span class="required">Port</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.integratorNotification.port"
                               class="form-control" id="integratorPort" placeholder="Port" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="integratorPath" class="col-sm-2 control-label">
                        <span class="required">Path</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.integratorProfile.integratorNotification.path"
                               class="form-control" id="integratorPath" placeholder="Path" required>
                    </div>
                </div>
            </div>
            <h3 class="with-line">Integrator Settings</h3>
            <div class="col-md-12">
                <div class="col-md-5">
                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <table>
                                <tr>
                                    <td>
                                        <label class="col-sm-8">{{vm.settings.resendOtp.code}}</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="number"
                                                   ng-model="vm.settings.resendOtp.value" min="3" required>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="with-line">Integrator Permissions</h3>
            <div class="col-md-12">
                <div class="form-group row clearfix">
                    <div class="col-sm-12">
                        <table>
                            <tr ng-repeat="permission in vm.permissions">
                                <td>
                                    <label class="col-sm-8">{{permission.label}}</label>
                                    <div class="col-sm-4">
                                        <ba-switcher switcher-style="primary" on="YES" off="NO"
                                                     switcher-value="permission.active"></ba-switcher>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit"  class="btn btn-primary pull-right">
                        <i class="fa fa-plus"></i>Add Integrator
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>